* {
    box-sizing: border-box;
}

body {
	font-family: Roboto, serif;
    display: flex;
    flex-direction: column;
    margin:0;
    padding:0;
    min-height: 100vh;
}

header,
.footer {
background-color: #1F2937;
color: white;
}

header {
    display: flex;
    justify-content: center;
}

.headerDiv {
    min-width: 800px;
}

nav {
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4%;
}

ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

#headerLogo {
    font-size: 24px;
    color: #F9FAF8
}

#heroSignup {
    background-color: #3882F6;
    border-radius: 5px;
    padding: 4px 20px;
    color: white;
    border: none;
}

hero {
    display: flex;
    justify-content: center;
    margin-bottom: 4%;
}

.heroContent {
    max-width: 900px;
}

h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    margin-bottom: 0;
}

h3 {
    font-size: 18px;
    color: #E5E7EB;
    font-weight: normal;
}

.heroImage {
 display: flex;
 justify-content: center;
 align-items: center;
}

.heroImage img {
    padding: 20px;
}

.randoInfoSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 4%;
}

h2 {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.cardSection {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    max-width: 900px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex:1;
}

.box {
    border: #3882F6 solid 5px;
    border-radius: 10px;
    height: 150px;
    width: 150px;
}

.quoteSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
    padding: 5%;
}

.quoteDiv {
    max-width: 900px;
}

.quote {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

.author {
    font-size: 24px;
    color: #1F2937;
    font-weight: bold;
}

.ctaSection {
    display: flex;
    justify-content: center;
    align-items: center;
}
.cta {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3882F6;
    border-radius: 5px;
    width: 900px;
    padding: 15px;
    margin: 5px 20px;
}
.ctaContent {
    display: flex;
    flex-direction: column;
    flex: 1 1 70%;
}

h4{
    color: white;
    font-size: 24px;
}
.ctaContent p {
    color: white;
    font-size: 18px;
}

.ctaButton {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 1 0 30%;
}

#contactButton {
    background-color: #3882F6;
    border-radius: 5px;
    padding: 4px 20px;
    color: white;
    border: white solid 2px;
}

.footer {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}