#headerWrapper {
	position: sticky;
	width: 100%;
	top: 0;
	padding: 20px 0;
	background-color: var(--backgroundDark);
	z-index: 1001;
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 1rem;
}

#headerLogo {
	font-size: 24px;
	color: #f9faf8;
}

ul {
	list-style: none;
	display: flex;
	gap: 20px;
}
